.App {
  background:linear-gradient(60deg, 
    rgba(227, 202, 24, 1), 
    rgba(233, 133, 112, 1), 
    rgba(219, 58, 113, 1), 
    rgba(141, 82, 151, 1), 
    rgba(60, 95, 164, 1), 
    rgba(16, 132, 153, 1), 
    rgba(7, 159, 135, 1), 
    rgba(91, 166, 110, 1));
  height:100%;
  min-height:110vh;
}
.app-routes{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Scroll bar behaviour */
::-webkit-scrollbar {
  height:2px;
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.navbar.is-fixed{
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.container {
  padding-top: 20px;
}
.is-white{
  color:white;
}

.is-semitransparent{
  color:rgba(0,0,0,0.5)!important;
}

.is-normal{
  color:black!important;
}

.is-rounded{
  border-radius: 20px !important;
}

@media (max-width: 500px) {
  .box {
    width:100%!important;
  }
  .profile-list-container{
    width:100%!important;
  }
  .level-left .level-item, .level-right .level-item{
    margin-bottom: 0.75em;
    margin-right:0.75em;
  }
}
@media (min-width: 500px) {
  .is-centered-desktop-only {
    text-align: center;
  }
  .is-form-container{
    width:30%!important;
  }
  .comparisons-title{
    margin-left: 20px;
    margin-right: 20px;
  }
}
a.navbar-item.is-active{
  font-weight: bold;
}

.profile-list-container{
  width:60%;
}

.box:not(:last-child){
  margin-bottom: 0px!important;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0px!important;
}

.is-fluid{
  margin-right: 24px!important;
  margin-left: 24px!important;
}

.card-content {
  padding: 0.9rem!important;
}

i {
  margin-right: 2px;
  margin-left: 2px;
}

.tag-cloud {
  margin: auto;
  width:90%;
  min-width: 300px;
}

.modal-content {
  padding-top:50px;
}

.card {
  max-width: 80%!important;
}
.is-4by3 {
  width:auto!important;
  height:180px!important;
}

.is-half-absolute{
  width:50%;
  margin:0px;
}

.bar {      
  margin-left: 5px;
  margin-right: 5px;
  display:flex;
  align-self:center;
  flex-direction:row;
  overflow-y:hidden; 
  height:100%;
  max-width:100%;
}

.divider{
  position:absolute;
  left:50%;
  top:5%;
  bottom:5%;
  border-left:1px solid white;
}

.comparison-subtitle{
  font-style: italic;
  color: rgba(255,255,255,0.7);
}